<html>
  <head>
    <link rel="stylesheet" href="popup.css" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.0/jquery.js"></script>
    <script src="jquery.sparkline.js"></script>
    <script src="underscore.js"></script>
    <script src="backbone.js"></script>
    <script src="tractor.js"></script>
    <script>
      $(window).load(function() {
        var view = new AppView;
        var artists = new ArtistCollection;
        
        chrome.tabs.getSelected(null, function(tab) {
          artists.currentTabUrl = tab.url;
          view.setArtists(artists);
          view.render();
        });
      });
    </script>
  </head>
  <body>
    <ul id="artists">
    </ul>

    <script type="text/template" id="artist-template">
      <h2><%= name %></h2>
      <p><span class="sparkline">Loading chart data...</span></p>
      <table class="songkick-listing"></table>
    </script>
    
    <script type="text/template" id="songkick-listing-item-template">
      <tr>
        <td class="calendar">
          <a href="<%= songkickUrl %>" target=_blank>
            <span class="day">
              <%= dayOfWeek %>
            </span>
            <span class="day-of-month">
              <%= dayOfMonth %>
            </span>
            <span class="month">
              <%= month %>
            </span>
          </a>
        </td>
        <td class="location">
          <a href="<%= songkickUrl %>" target=_blank>
            <strong><%= venueOrFestivalName %></strong>
            <%= city %>
          </a>
        </td>
      </tr>
    </script>
  </body>
</html>
