<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.0/jquery.js"></script>
    <script src="underscore.js"></script>
    <script src="backbone.js"></script>
    <script src="tractor.js"></script>
    <script>
      $(window).load(function() {
        var view = new AppView;
        var artists = new ArtistCollection;
        
        chrome.tabs.getSelected(null, function(tab) {
          artists.currentTabUrl = tab.url;
          view.setArtists(artists);
          view.render();
        });
        
      });
    </script>
  </head>
  <body>
    <ul id="artists">
    </ul>
    
    <script type="text/template" id="artist-template">
      <%= name %> (<%= mbid %>)
    </script>
  </body>
</html>
